---
import ImageMod from "@/components/ImageMod.astro";
import Pagination from "@/components/Pagination.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import type { Button, Feature } from "@/types";

import config from "@/config/config.json";
import social from "@/config/social.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import Post from "@/components/Post.astro";
// import Pagination from "@layouts/components/Pagination";
// import Post from "@layouts/components/Post";
// import Social from "@layouts/components/Social";
const { blog_folder } = config.settings;
const posts = await getSinglePage("posts");
const { pagination } = config.settings;
const { name, image, designation, bio } = config.profile;
const sortPostByDate = sortByDate(posts);

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}
---

<Base title="Aidan's Portfolio">
  {/* profile */}
  <div class="section pt-[36px]">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center lg:col-8">
          <ImageMod
            class="mx-auto rounded-full"
            src={image}
            width={220}
            height={220}
            alt={name}
          />
          <h1
            set:html={markdownify(name)}
            class="mt-12 text-6xl lg:text-8xl font-semibold"
          />
          <p
            set:html={markdownify(designation)}
            class="mt-6 text-primary text-xl"
          />
          <p set:html={markdownify(bio)} class="mt-4 leading-9 text-xl" />
          <Social source={social.main} className="social-icons mt-8" />
        </div>
      </div>

      <div class="row mt-6 col-10 mx-auto text-center">

        <div class="col-12">
          <div class="col-12 rounded-lg mx-auto bg-body bg-opacity-60 p-5">
            <p>I'm a freelance creative with a lifelong passion for programming, game design, and music. You can find a variety of my work on this website!</p>
          </div>
        </div>


      </div>

      <div class="row mt-6 col-10 mx-auto text-center">
        <div class="col-6">
          <div class="rounded-lg bg-body bg-opacity-60 p-5">
            <h2>Games</h1>
            <p>I've played video games for as long as I've had memories, and they had a significant impact on shaping my view of the world. I believe games are a medium for expression unlike any other, and I love to work with new and interesting ideas.</p>  
          </div>
        </div>
        <div class="col-6">
          <div class="rounded-lg bg-body bg-opacity-60 p-5">
            <div class="ml-2">
              <h2>Audio</h2>
              <p>I'm a multi-instrumentalist with years of experience studying music theory, composition, and audio production. I can compose, mix, and master anything you need, tailored to fit your project's creative vision.</p>  
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  {/* posts */}
  <!-- <div class="pt-4">
    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-10">
          <div class="row">
            {
              sortPostByDate
                .slice(0, pagination)
                .map((post) => (
                  <Post className="col-12 mb-6 sm:col-6" post={post} />
                ))
            }
          </div>
        </div>
      </div>
      <div class="mt-12">
        <Pagination
          totalPages={Math.ceil(posts.length / pagination)}
          currentPage={1}
        />
      </div>
    </div>
  </div>-->
</Base>
